node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
{{if unit}}
test/unit/coverage
{{/if}}
{{if e2e}}
test/e2e/reports
selenium-debug.log
{{/if}}

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode
